


{% comment %}
  collections-template.liquid
  This is an example of a collection section template.
{% endcomment %}

<section class="collection-section">
  <h2 class="section-title">{{ section.settings.title }}</h2>
  
  <div class="collection-grid">
   
    
    {% for collec in collections[section.settings.collection_to_display.handle].products %}
      <div class="collection-item">
        <a href="{{ collec.url }}">
          <p id="myH1" data-title={{  collec.title }} data-id={{ collec.variants[0].id }}>{{ collec.title }}</p>
          <img src="{{ collec.image | img_url: 'large' }}" alt="{{ collec.title }}">
          <h3>{{ collec.title }}</h3>
          <p class="demo"></p>
        </a>
        <button id="add_button">Add to Cart</button>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  jQuery(function() {
        CartJS.init({{ cart | json }});
    });
  
  const element = document.getElementById("myH1"); 
  let text = element.getAttribute("data-id"); 
  document.querySelector(".demo").innerHTML = text;
  console.log("From script", text)

  $('#add_button').click(function() {
        CartJS.addItem(text);
    });

  
</script>


{% schema %}

  {
  "name": "Collection Section",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "title",
      "default": "Featured Collections"
    },
    {
      "type": "collection",
      "label": "Collection to Display",
      "id": "collection_to_display"
    }
  ], "presets":[{
      "category":"One section",
      "name":"One section"
    }]
}

{% endschema %}

<style>
  .collection-grid {
    display:flex;
    margin-left:200px;
  }
</style>