


{% comment %}
  collections-template.liquid
  This is an example of a collection section template.
{% endcomment %}

<section class="collection-section">
  <h2 class="section-title">{{ section.settings.title }}</h2>
  
  <div class="collection-grid">
   
    
    {% for collec in collections[section.settings.collection_to_display.handle].products %}
      <div class="collection-item">
        <a href="{{ collec.url }}">
          <p>{{ collec.title }}</p>
          <img src="{{ collec.image | img_url: 'medium' }}" alt="{{ collec.title }}">
          <h3>{{ collec.title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
</section>


{% schema %}

  {
  "name": "Collection Section",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "title",
      "default": "Featured Collections"
    },
    {
      "type": "collection",
      "label": "Collection to Display",
      "id": "collection_to_display"
    }
  ], "presets":[{
      "category":"One section",
      "name":"One section"
    }]
}

{% endschema %}